**/*.o
**/Makefile
**/*.cmake
**/*.vcxproj*
**/*.sln
**/*.htm
CMakeCache.txt
bin/
**/CMakeFiles/
**/Release/
Debug/
x64/
x86/
build/
**/.vs/
conan*
!conanfile.txt
CMakePresets.json
*.bat
!build.sh
*.sh
!build.sh
**/*.a
**/m3
.vscode/